dask[dataframe]>=2023.5.0
distributed
matplotlib>=3.7.3
numpy>=1.24.3
pyarrow>=12.0.1
rich>=13.6.0
jupyterlab
jupyter-server-proxy
ipywidgets
pandas>=2.0.3
zindex_py==0.0.2
tqdm
scikit-learn
seaborn
jsonlines
python-intervals
bokeh!=3.0.*,>=2.4.2